<footer class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <p>Made this year.</p>
      </div>
      <div class="col-xs-6 text-right">
        <a href="https://www.linkedin.com/in/conalscanlon" target="_blank">
          <i class="fa fa-linkedin-square fa-inverse fa-2x" aria-hidden="true"></i>
        </a>
        <a href="mailto:cms5109@gmail.com">
         <i class="fa fa-envelope fa-inverse fa-2x" aria-hidden="true"></i>
        </a>
        <a href="https://github.com/cms5109" target="_blank">
          <i class="fa fa-github-square fa-inverse fa-2x" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
